@import '../../variables.scss';
@import '../../reset.scss';

.project-page {
  p {
    font-family: Avenir-Medium;
  }
  .project-section {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    h3 {
      font-family: Avenir-Medium;
      font-weight: 700;
      font-size: 36px;
      color: #333;
      text-align: center;
      margin: 0 0 30px;
    }
  }
  .project-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    @media screen and (max-width: $mobileWidth) {
      display: block;
      justify-content: initial;
      align-items: initial;
    }
    .img-container {
      width: 20%;
      text-align: center;
      @media screen and (max-width: $mobileWidth) {
        width: initial;
        text-align: initial;
      }
      img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
    .project-text-container {
      width: 50%;
      padding-left: 3%;
      h4 {
        margin: 0;
      }
      p {
        margin: 0;
      }
      @media screen and (max-width: $mobileWidth) {
        width: inherit;
        padding-left: 0;
        h4 {
          text-align: center;
        }
      }
    }
  }
}
