@import '../../variables.scss';
@import '../../reset.scss';

.hackathon-page {
  min-width: 375px;
  width: 80vw;
  max-width: 100vw;
  height: auto;
  margin: 0 auto;

    section {
      width: 375px;
      box-sizing: border-box;
      display: block;
    }

    .top-banner {
      font-size: 1.2rem;
    }

    .anti-epidemic-situation {
      position: relative;
      width: 375px;
      height: 200px;
      background: linear-gradient(0deg, #FF6440 0%, rgba(118, 46, 30, 0.654427) 51.22%, rgba(0, 0, 0, 0.52) 99.74%);
      
      &__content {
        position: absolute;
        width: 265px;
        height: 104px;
        left: 60px;
        top: 70px;

      }
    }
    
}