.language-list-container {
    .lang-select {
        float: right;
        margin: 20px 8px 0 0;
        width: 100px;
      }
      
      .language-switch {
        float: right;
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        line-height: 20px;
        margin-top: $headerHeight / 2 - 12px;
        margin-right: 40px;
        text-align: center;
        border-radius: 2px;
        cursor: pointer;
        font-family: PingFangSC-Medium;
        font-size: 14px;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
      .language-switch-primary {
        border: 1px solid #FFF;
        color: #FFF;
      }
      .language-switch-normal {
        border: 1px solid #333;
        color: #333;
      }
      
}