@import '../../variables.scss';

$radius: 25px; 

.team-item-wrapper{
    width: 350px;
    margin-top: 30px;

    &:first-child {
        margin-top: 15px;
    }

    .team-info {
        width: 267px;
        margin: 0 auto;

        .team-info-general {
            width: 100%;
            margin: 0 auto;
            box-sizing: border-box;
            border-radius: $radius;
            box-shadow: 0px 1.335px 5.34px rgba(0, 0, 0, 0.2);
            padding-top: 20px;
            position: relative;

            &.abstract-shown {
                .team-item {
                    &:not(.abstract-content) {
                        opacity: 0;
                    }
                    &.abstract-content {
                        height: 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }
    

    .team-item {
        width: 267px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 40px;
        @include font(F18M);
        color: #152235;

        .header {
            width: 40%;
            display: inline-block;
            text-align: right;
        }

        .content {
            width: 55%;
            display: inline-block;
            @include font(F18L);
            color: #152235;
            overflow: hidden;
        }

        &.subject {
            margin-bottom: 25px;
            .content {
                width: 100%;
                text-align: center;
                @include font(F18M);
                color: #152235;
            }
        }

        &.members {
            .member {
                display: inline-block;
                width: 100%;
            }
        }

        &.abstract-header {
            padding: 0;

            &.mobile {
                .header {
                    width: 100%;
                    text-align: center;
                    background-color: $C6;
                    border-radius: 0px 0px $radius $radius;
                    height: 50px;
                    line-height: 50px;
                    color: $C1;
                }
            }
        }

        &.abstract-content {
            padding: 0;
            position: absolute;
            top: 0;
            
            &.mobile {   
                .content { 
                    width: 100%;
                    background-color: $C6;
                    border-radius: $radius;
                    padding: 10px;
                    box-sizing: border-box;
                    margin-top: 5px;
                    color: $C1;
                    padding: 20px;
                }
            }
        }
    }
}