@import '../../variables.scss';

$contentMarginTop: 40px;

.certification-content {
    width:  70%;
    max-width: 1050px;
    height: 80vh;
    margin: $contentMarginTop auto 0 auto;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    
    .row {
        width: 100%;
    }

    .certification-content-alerts {
        text-align: center;

        .alert {
            width: 616px;
            max-width: 100%;
            display: inline-block;
            border: 1px solid $succeedColor;
            background-color: #F6FFED;
            padding: 15px 30px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            letter-spacing: 1px;
            color: #000000;
            box-sizing: border-box;

            &.successful {
                .docsite-icon {
                    color: $succeedIconColor;
                }
            }
            
            &.error {
                border-color: $errorColor;

                .docsite-icon {
                    color: $errorIconColor;
                }
            }

            &.warn {
                border-color: $warnColor;

                .docsite-icon {
                    color: $warnIconColor;
                }
            }

        }
    }

    .certification-content-main {
        display: flex;
        justify-content: space-around;
        margin-top: $contentMarginTop + 20px;

        aside {
            width: 80%;
            min-width: 400px;
            max-width: 510px;
            text-align: center;

            img {
                max-width: 100%;
                width: 80%;
            }
        }

        form {
            fieldset,
            legend {
                border: none;
                width: 100%;
            }
            
            fieldset {
                width: 410px;
                margin-top: $contentMarginTop + 20px;
            }

            legend {
                text-align: center;
                font-size: 36px;
                font-weight: 500;
                color: #333333;
            }

            .form-row {
                width: 100%;
                margin-bottom: 30px;
                color: #333333;

                &.email {
                    margin-top: 24px;
                }

                &.name {
                    margin-bottom: 60px;
                    
                    label {
                        position: relative;
                        padding-bottom: 25px;
                    }
                }

                label,
                span,
                input {
                    width: 100%;
                    display: inline-block;
                }

                label {
                    padding: 5px;
                    font-size: 24px;
                    font-weight: 400;
                }

                .description {
                    font-size: 14px;
                    font-weight: 400;
                    color: #999999;
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                }

                input {
                    height: 50px;
                    border: 1px solid $brandColor;
                    border-radius: 5px;

                    &[type="submit"] {
                        font-size: 18px;
                        line-height: 26px;
                        font-weight: 500;
                        color: #fff;
                        border-radius: 4px;
                        background: linear-gradient(to right, #EA3E65 0%, #F08F38 100%)
                    }
                }
            }
            
        }
    }
    
}