@import '../../variables.scss';
@import '../../reset.scss';

.certification-page {
    width:  100%;
<<<<<<< HEAD
    font-family: PingFang SC;
=======
    font-family: Avenir-Medium;
>>>>>>> dev
    
    header {
        background-color: $brandColor;
        height: $headerHeight;
<<<<<<< HEAD
        line-height: $headerHeight;

        img {
            max-height: 100%;
            height: 36px;
            vertical-align: middle;
            margin-left: 10px;
=======

        img {
            max-height: 100%;
>>>>>>> dev
        }
    }
}