@import './colors';
@import './breakpoints'

// 头部高度
$headerHeight: 66px;
// 侧边栏宽度
$sideMenuWidth: 295px;
// bar高度
$barHeight: 200px;
// 切换到移动端显示屏宽界限
$mobileWidth: 640px;
// 页面主体最大宽度
$contentWidth: 1280px;




