@import '../../variables.scss';
@import '../../reset.scss';

.hackathon-page {
  p {
    font-family: Avenir-Medium;
  }
  .hackathon-section {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    
    // h3 {
    //   font-family: Avenir-Medium;
    //   font-weight: 700;
    //   font-size: 36px;
    //   color: #333;
    //   text-align: center;
    //   margin: 0 0 30px;
    // }
    div{
      width: 1200px;		
      margin: auto;
    }

    #register{
				overflow: hidden;		 
				background-color: #5D8AA6;
				padding-top: 100px;
				position: relative;
      .register1{
				float: left;
				width: 30%;
				margin-top: 158px;
      }
      .register2{
				float: right;
				width: 40%;
      }
      h1{
				/* float: left; */
				position: absolute;
				color: #FFFFFF;
				font-size: 120px;
				left: 10%;
				top: 5%;
      }
      h2{
				display: block;
				position: absolute;
				color: #4A4A4A;
				font-size: 60px;
				width: 50%;
				left: 25%;
				top: 60%;
				/* 文字居中 */
				text-align: center;	
        
      }
      h3{
				position: absolute;
				color: #FF6440;
				left: 55%;
				top: 35%;
				font-size: 40px;	
      }
      button{
				position: absolute;
				color: #FFFFFF;
				left: 35%;
				top: 80%;
				font-size: 50px;
				background-color: #FF6440;
				width: 30%;
				/* 设置边角弧度 */
				/* border-radius: 10%; */
      }
    }
    #hospital{
      height: 380px;
      background-image: url(/images/hackathon/hospital1.jpg);
      background-size: cover;
      color: #FFFFFF;
      font-size: 30px;
      text-align: right;
      p{
				/* margin-left: 500px; */
				/* position: absolute; */
				/* line-height: 100px; */
				/* */
				padding-top: 80px;
				margin-right: 50px; 
				margin-left: 450px;
      
      }
    }
    
    #software{
				/* 子块撑开父块 */
				overflow: hidden;
				height: 500px;
				/* background-color: green; */
      img{
				height: 500px;
				float: right;
      }
      h1{
				color: #ff6440;
				padding-top: 100px;
				margin-right: 10px; 
        margin-left: 200px;
        font-size: 30px;
      }
      p{
				padding-top: 50px;
				margin-right: 500px; 
				margin-left: 50px;
				font-size: 25px;
      }
    }
    
    #HackForWuhan {
      .header{
				background-color: #DA6C53;
				/* height: 300px; */
				overflow: hidden;
				// height: 350px;
        img{
          display: block;
          width: 30%;
          // height: 350px;
          float: right;
          
        }
        h1{
          margin-left: 100px;
          margin-right: 300px;
          padding-top: 40px;
          color: #FFFFFF;	
          font-size: 60px;
        }
        h2{
          margin-left: 100px;
          margin-right: 300px;
          padding-top: 20px;
          color: #4A4A4A;
          font-size: 50px;
        }
        h3{
          margin-left: 100px;
          margin-right: 300px;
          padding-top: 20px;
          color: #FFFFFF;
          font-size: 25px;
        }
      }
    }
    #hopeful {
      position: relative;
      height: 500px;
      /* background-color: #5D8AA6; */
      margin-top: 100px;
    }
    
    #hopeful img{
      display: block;
      width:150px;
      margin: auto;
      margin-top: 30px;
    }
    
    #hopeful div{
      position: absolute;
      width: 350px;
      height: 350px;
      border-radius: 10%;
    }
    
    #hopeful .ho1{				
      left: 50px;
      background-color: #5D8AA6;
    }
   
    #hopeful .ho2{
      left: 425px;
      background-color: #DA6C53;
    } 
    
    #hopeful .ho3{
      left: 800px;
      background-color: #4A4A4A;
    }
    
    
    #hopeful p{
       width: 310px;
       color: #FFFFFF;	
       padding-left: 20px;
     }
     
     #hopeful h2{
      padding-top: 370px;
        padding-left: 50px;
        padding-right: 50px;
      text-align: center;
      font-size: 20px;
      }
    
    #activity{
       position: relative;
       height: 550px;
       /* background-color: #FF6440; */
       /* overflow: hidden; */
    }
    
    #activity h1{
      font-size: 50px;
      text-align: center;		
      border-bottom: #FF6440 5px solid;
      padding-bottom: 10px;
      width: 400px;
      margin: auto;
    }
    
    /* #activity .a1,#activity .a2,#activity .a3,#activity .a4{
      background-color: #008000;	
      
    } */
    
    #activity img{
      float: left;
      margin-top: 10px;
    }
    
    #activity .a{
      float: right;
      margin-top: 10px;
      width: 200px;
    }
    
    #activity p{
      margin-top: 10px;
    }
    
    #activity .a1{
      position: absolute;
      left: 200px;
      top: 150px;
      width: 320px;
      height: 100px;
    }
    
    #activity .a2{
      position: absolute;
      left: 650px;
      top: 150px;
      width: 320px;
      height: 100px;
    }
    #activity .a3{
      position: absolute;
      left: 200px;
      top: 300px;
      width: 320px;
      height: 150px;
    }
    #activity .a4{
      position: absolute;
      left: 650px;
      top: 300px;
      width: 320px;
      height: 150px;
    }
    
    #subject {
      position: relative;
      height: 600px;
      /* background-color: #5D8AA6; */

    }
    
    #subject h1{
      font-size: 50px;
      text-align: center;
      border-bottom: #FF6440 5px solid;
      padding-bottom: 10px;
      width: 400px;
      margin: auto;
    }
    
    #subject .s1{
      position: absolute;
      left: 200px;
      top: 150px;
      width: 320px;
      height: 250px;
      border: #000000 2px solid;
      border-radius: 10%;
      overflow: hidden;
    }
    #subject .s2{
      position: absolute;
      left: 650px;
      top: 150px;
      width: 320px;
      height: 350px;
      border: #000000 2px solid;
      border-radius: 10%;
      overflow: hidden;
    }
    
    #subject h2{
      background-color: #FF6440;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    #subject ul{
      margin-top: 20px;
      margin-left: 40px;
    }
    
    #subject li{
      margin-top: 15px;

    }
    
    /* 伪类改点的颜色，需要ul配合
    #subject li::before{
      content: "*";
      color: #FF6440;
    }*/
    
    #participant {
      position: relative;
      height:500px;
      /* background-color: #5D8AA6; */
    }
    
    #participant h1{
      text-align: center;
      font-size: 50px;
      border-bottom: #FF6440 5px solid;
      padding-bottom: 10px;
      width: 400px;
      margin: auto;
    }
    
    #participant .p1{
      position: absolute;
      left: 200px;
      top: 120px;
      width: 320px;
      height: 300px;
      /* border: #000000 2px solid; */
    }
    
    #participant .p2{
      position: absolute;
      left: 650px;
      top: 120px;
      width: 320px;
      height: 300px;
      /* border: #000000 2px solid; */
    }
    
    #participant h2{
      /* text-align: center; */
      padding-top: 10px;
      padding-bottom: 10px;
      color: #FF6440;
      border-left: #FF6440 5px solid;
      padding-left: 20px;
      margin-left: 10px;
    }
    
    #participant ul{
      margin-top: 20px;
      margin-left: 40px;
    }
    
    #participant li{
      margin-top: 15px;
    
    }
    
    #speaker {
      position: relative;
      height: 950px;
      /* background-color: #5D8AA6; */
    }
    
    #speaker h1{
      text-align: center;
      font-size: 50px;
      border-bottom: #FF6440 5px solid;
      padding-bottom: 10px;
      width: 400px;
      margin: auto;
    }
    
    #speaker div{
      width: 350px;
      height: 350px;
      /* background-color: #008000; */
      /* border: #000000 2px solid; */
      /* border-radius: 10%; */
      overflow: hidden;
      position: absolute;
    }
    
    #speaker .s1{	
      left: 50px;
      top: 150px;	
    }
    #speaker .s2{
      left: 425px;
      top: 150px;	
    }
    #speaker .s3{
      left: 800px;
      top: 150px;	
    }
    #speaker .s4{
      left: 50px;
      top: 500px;	
    }
    #speaker .s5{
      left: 425px;
      top: 500px;	
    }
    #speaker .s6{
      left: 800px;
      top: 500px;	
    }
    
    #speaker img{		
      width: 200px;		
      height: 200px;	
      margin-left: 75px;
      border-radius: 20%;
      background-color: #008000;
    }
    
    #speaker h2{
      position: absolute;
      /* background-color: #5D8AA6; */
      width: 350px;
      top:160px;
      left: 0px;
      font-size: 30px;
      text-align: center;
      color: #FFFFFF; 
    }
    
    #speaker .s4 h2{
      font-size: 25px;
    }
    
    #speaker h3{
      text-align: center;
      color: #7b7b7b;
      font-size: 20px;
    }
    
    #speaker p{
      display: block;
      word-break: keep-all;
      height: 100px;
      padding-top: 5px;
      font-size: 10px;
      color: #7b7b7b;
    }
    
    #holder {
      position: relative;
      height: 400px;
      /* background-color: #5D8AA6; */
    }
    #holder h1{
      text-align: center;
      font-size: 50px;
      border-bottom: #FF6440 5px solid;
      padding-bottom: 10px;
      width: 400px;
      margin: auto;
    }
    
    #holder div{
      height: 100px;
      width: 250px ; 
      position: absolute;
      display:flex;
      align-items: center;   
      justify-content:center; 
    }
    
    #holder img{
      max-width: 100%;
      max-height: 100%;
    }
    
    #holder .h1{
      left: 50px;
      top: 150px;	
    }
    #holder .h2{
      left: 333px;
      top: 150px;	
    }
    #holder .h3{
      left: 616px;
      top: 150px;	
    }
    
    #holder .h4{
      left: 949px;
      top: 150px;	
    }
    
    #sponsor {
      position: relative;
      height: 400px;
      /* background-color: #5D8AA6; */
    }
    #sponsor h1{
      text-align: center;
      font-size: 50px;
      border-bottom: #FF6440 5px solid;
      padding-bottom: 10px;
      width: 400px;
      margin: auto;
    }
    
    #sponsor div{
      width: 200px;
      height: 100px;
      /* height: 100px;
      width: 200px; */
      position: absolute;
      /* background-color: #008000; */
      /* text-align: center; */
      display:flex;
      align-items: center;   
      justify-content:center; 
    }
    
    
    #sponsor img{
      max-width: 200px;
      max-height: 100px; 

    } 
    
    #sponsor .s1{
      left: 50px;
      top: 150px;	
    }
    #sponsor .s2{
      left: 333px;
      top: 150px;	
    }
    #sponsor .s3{
      left: 616px;
      top: 150px;	
    }
    
    #sponsor .s4{
      left: 949px;
      top: 150px;	
    }
    
    /* #mediaCooperation {
      position: relative;
      height: 400px;
    }
    #mediaCooperation h1{
      text-align: center;
      font-size: 50px;
      border-bottom: #FF6440 5px solid;
      padding-bottom: 10px;
      width: 400px;
      margin: auto;
    }
    
    #mediaCooperation div{
      height: 150px;
      width: 150px;
      position: absolute;
    }
    
    #mediaCooperation img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    
    #mediaCooperation .m1{
      left: 125px;
      top: 150px;	
    }
    #mediaCooperation .m2{
      left: 325px;
      top: 150px;	
    }
    #mediaCooperation .m3{
      left: 525px;
      top: 150px;	
    }
    #mediaCooperation .m4{
      left: 725px;
      top: 150px;	
    }
    #mediaCooperation .m5{
      left: 925px;
      top: 150px;	
    } */
    
    
    #application {
      position: relative;
      height: 400px;
      background-color: #FF6440; 
    }
    #application h1{
      text-align: center;
      font-size: 50px;
      padding-top: 50px;
      padding-bottom: 30px;
      color: #FFFFFF;
    }
    #application .a1{
      height: 200px;
      background-color: #5D8AA6;
      width: 800px;
      font-size: 40px;
      text-align: center;
      color: #FFFFFF;
    }
    #application p{
      padding-top: 50px;
    }
  }

  // .hackathon-item {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   margin: 10px 0;
  //   @media screen and (max-width: $mobileWidth) {
  //     display: block;
  //     justify-content: initial;
  //     align-items: initial;
  //   }
  //   .img-container {
  //     width: 20%;
  //     text-align: center;
  //     @media screen and (max-width: $mobileWidth) {
  //       width: initial;
  //       text-align: initial;
  //     }
  //     img {
  //       max-width: 100%;
  //       margin-left: auto;
  //       margin-right: auto;
  //       display: block;
  //     }
  //   }
    // .hackathon-text-container {
    //   width: 60%;
    //   padding-left: 2%;
    //   h4 {
    //     margin: 0;
    //   }
    //   p {
    //     margin: 0;
    //     font-size: 16px;
    //   }
    //   @media screen and (max-width: $mobileWidth) {
    //     width: inherit;
    //     padding-left: 0;
    //     h4 {
    //       text-align: center;
    //     }
    //   }
    // }
  // }
}
