name: CI

on: [pull_request]

jobs:
  Build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Cache node modules
      uses: actions/cache@v1
      with:
        path: node_modules
        key: cache-build-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          cache-build-${{ env.cache-name }}-
          cache-build-
          cache-
    - name: Install Dependencies
      run: npm install
      env:
        CI: true
    - name: Linting
      run: npm run lint
      env:
        CI: true
    - name: Run build
      run: npm run build --if-present
      env:
        CI: true
