name: wuhan2020.github.io deploy

on:
  push:
    branches:
    - dev

jobs:
  Build-Deploy:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master

    - name: Use Node.js 10.x
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - name: Build
      run: |
        npm install
        npm run build
        node sitemap-generator.js
        mkdir deploy-dist
        cp -R zh-cn/ en-us/ ja-jp/ it-it/ fr-fr/ pt-br/ build/ images/ md_json/ site_config/ deploy-dist/
        mv .htaccess *.html deploy-dist/
        mv sitemap.xml deploy-dist/
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        publish_branch: master
        publish_dir: ./deploy-dist
        keep_files: true
